*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/zajecia6/zad1/z6a1/nbproject/private/
/zajecia6/zad1/z6a1/build/
/zajecia6/zad2/z6a2/nbproject/private/
/zajecia6/zad2/z6a2/build/
/zajecia6/zad3/z6a3/nbproject/private/
/zajecia6/zad3/z6a3/build/
/zajecia7/zad1/z7a1/nbproject/private/
/projekt/server/Server/nbproject/private/
/projekt/server/Server/build/
/zajecia7/zad1/z7a1/build/
/zajecia7/zad2/z7a2/nbproject/private/
/zajecia7/zad2_popr/z7a2_pop/nbproject/private/
/zajecia7/zad2_popr/z7a2_pop/build/
/zajecia7/zad2_popr/z7a2/nbproject/private/
/zajecia7/zad2_popr/z7a2/build/
/zajecia7/zad3/z7a3/nbproject/private/
/zajecia7/zad3/z7a3/build/
/zajecia7/zad4/z7a4/nbproject/private/
/zajecia7/zad4/z7a4/build/
/zajecia7/zad5/z7a5/nbproject/private/
/zajecia7/zad5/z7a5/build/
/zajecia7/zad6/z7a6/nbproject/private/
/zajecia7/zad6/z7a6/build/
/projekt/server/Server/dist/
/projekt/client/Client/nbproject/private/
/projekt/client/Client/build/
/projekt/client/Client/dist/
/jdbc/nbproject/private/
/jdbc/build/
/jdbc/dist/
/zajecia8/cw1/JavaApplication15/nbproject/private/
/zajecia8/cw1/JavaApplication15/build/
/zajecia8/cw1_2/JavaApplication16/nbproject/private/
/zajecia8/cw1_2/JavaApplication16/build/
/zajecia8/cw2/JavaApplication17/nbproject/private/
/zajecia8/cw2/JavaApplication17/build/
/zajecia8/cw2_1/JavaApplication18/nbproject/private/
/zajecia8/cw2_1/JavaApplication18/build/
/zajecia8/cw3/JavaApplication19/nbproject/private/
/zajecia8/cw3/JavaApplication19/build/