*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/zajecia6/zad1/z6a1/nbproject/private/
/zajecia6/zad1/z6a1/build/
/zajecia6/zad2/z6a2/nbproject/private/
/zajecia6/zad2/z6a2/build/
/zajecia6/zad3/z6a3/nbproject/private/
/zajecia6/zad3/z6a3/build/